/* Container danh sách activity */
.activity-list {
  display: flex;
  flex-wrap: wrap;           /* cho phép xuống hàng */
  justify-content: center;   /* ✅ căn giữa hàng cuối */
  gap: 20px;
  max-width: 1300px;         /* ✅ tổng chiều rộng tối đa của 4 cột */
  margin: 30px auto;
  padding: 0 12px 40px 12px;
  box-sizing: border-box;
  align-items: stretch;
}

/* Responsive */

@media (max-width: 850px) {
  .activity-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 4vw 40px 4vw;
  }
  .home-container {
    width: 98%;
    padding: 0 1vw;
  }
}
@media (max-width: 500px) {
  .activity-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .activity{
    width:100%;
  }
}

@media (max-width: 300px) {
  .activity-list {
    grid-template-columns: repeat(1, 1fr);
    padding: 0 4vw 40px 4vw;
  }
}
