.manage-activity-student-background{
    background: url("../../assets/images/anhnen.jpg") no-repeat center center fixed;
    background-size:cover ;
    width: 100vw;
    min-height:500px;
    z-index: 1;
}
.filter-activity-student{
    margin: -80px auto 20px auto;
    z-index: 2;
    width: 70%;
}
@media (max-width: 900px){
    .manage-activity-student-background{
        min-height:400px
    }
}
@media (max-width: 748px){
    .manage-activity-student-background{
        min-height:300px
    }
}
@media (max-width: 500px){
    .manage-activity-student-background{
        min-height:200px
    }
}