.custom-table-wrapper {
  overflow-y: auto; /* cuộn dọc */
  overflow-x: auto;
  background: white; /* nền sáng */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 90%;
  margin: 20px auto; /* căn giữa ngang */
  border: 1px solid black; /* viền xám nhạt */
  max-height: 600px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.custom-table__header {
  padding: 12px;
  text-align: left;
  font-weight: 600;
  background-color: #e5e7eb; /* xám nhạt */
}
.custom-table th,
.custom-table td {
  text-align: center;
  vertical-align: middle;
}
.custom-table thead th {
  position: sticky;
  top: 0;
  background-color: #e5e7eb; /* cùng màu nền với header */
  z-index: 2; /* đảm bảo nằm trên các ô dữ liệu */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05); /* tạo cảm giác nổi */
}
.custom-table__row {
  border-bottom: 1px solid #e5e7eb;
  transition: background-color 0.2s ease;
}

.custom-table__row:hover {
  background-color: #e7e9f5; /* hover sáng */
}

.custom-table__cell {
  padding: 12px;
  color: #374151;
}

.custom-table__actions {
  display: flex;
  flex-direction: column; /* sắp xếp theo cột */
  gap: 6px;
  align-items: center;
  justify-content: center; /* khoảng cách giữa các nút */
}

/* Style cho button trong cột thao tác */
.custom-table__actions button {
  flex: 1;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
  font-size: 15px;
  background-color: #c9cce0;
  color: black;
  min-width: 120px; /* cố định chiều rộng tối thiểu */
  max-width: 160px; /* giới hạn nếu text dài quá */
  white-space: nowrap;
}
.custom-table__actions button a {
  color: black;
  text-decoration: none;
}
.custom-table__actions button a:hover {
  color: white;
  text-decoration: none;
}
.custom-table__actions button:hover {
  background: #2c1966;
  color: white;
  a {
    color: white;
  }
}
@media (max-width: 600px) {
  .custom-table {
    font-size: 12px;
  }
  .custom-table__head {
    font-size: 12px;
  }
  .custom-table__actions button {
    font-size: 12px;
    min-width: 60px;
  }
}
@media (max-width: 400px) {
  .custom-table {
    font-size: 10px;
  }
  .custom-table__head {
    font-size: 10px;
  }
  .custom-table__actions button {
    font-size: 10px;
    min-width: 60px;
  }
}
