.tag-select {
  width: 70%;
  height: 40px;
}

/* Nền control (ô chọn) */
body.dark-mode .tag-select .react-select__control {
  background-color: #2a2a3d !important;
  color: white !important;
  border-color: #555 !important;
}

/* Nền menu dropdown */
body.dark-mode  .react-select__menu {
  background-color: #2a2a3d !important;
  color: white !important;
}

/* Option trong menu */
body.dark-mode .react-select__option {
  background-color: #2a2a3d !important;
  color: white !important;
}

body.dark-mode .react-select__option--is-focused {
  background-color: #3a3a4d !important;
}

body.dark-mode .react-select__option--is-selected {
  background-color: #4b4b6a !important;
}

/* Tag hiển thị khi chọn */
body.dark-mode .react-select__multi-value {
  background-color: #3a3a4d !important;
  color: white !important;
  border: 0.5px solid white !important;
}

/* Label trong tag */
body.dark-mode .react-select__multi-value__label {
  color: white !important;
}

/* Nút xóa tag */
body.dark-mode .react-select__multi-value__remove:hover {
  background-color: #555 !important;
}

/* Responsive */
@media (max-width: 768px) {
  .tag-select {
    width: 100%;
  }
}
