.cross-bar{
    margin-top: 0;
    height:50px;
}
.cross-bar p{
    margin-top: 0;
}
.other-activities {
  width: 100%;
  min-height: calc(100vh - 180px);
  padding: 0 0; /* Chỉ padding trái phải nhỏ lại */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
}

.other-activity-content{
  display: flex;
  justify-items: center;
  border-bottom: 1px solid black;
  width:50%;
  margin:10px auto;
}
.other-activity-content p{
  display: flex;
  justify-items: center;
  margin: 10px auto;
  font-size: 20px;
  font-weight: bold;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}
.back-button-container {
  max-width: 800px;
  display: flex;
  margin: 20px auto 0 auto;
  padding-left: 20px;
}

.back-button {
  color: black;
  padding: 8px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.2s ease;
}

.back-button:hover {
  background-color: #2C1966;
  color: white;
} */

