.score-box {
  background: #C4C8E3;
  padding: 15px;
  /* border-radius: 10px; */
  margin-bottom: 20px;
  margin-top: -50px;
  text-align: center;
  width:50%;
  margin: 20px auto ; 
  margin-top: -5px;
}
@media (max-width: 500px) {
    .score-box {
        font-size: 10px;
    }
    
}
@media (max-width: 100px) {
    .score-box {
        font-size: 5px;
    }
}