.year-card {
    position: relative;
    background: #C4C8E3; /* tím nhạt */
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    height:auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.status {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #000;
    padding: 4px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.year-card h4 {
    margin: 10px 0 5px 0;
    font-size: 22px;
}

.year-card p {
    margin: 5px 0;
    font-size: 16px;
}
.year-card span {
    font-size: 16px;
}