.header {
  width: 100%;
  height: 120px;
  background: url("../../assets/images/background_header.jpg");
  background-size: cover;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  margin-top: 0; /* Không đẩy header xuống */
}

.header-container {
  display: flex;
  align-items: center;
  margin: 0px 30px;
}

.logo img {
  height: 80px;
  margin-right: 15px;
}

.system-name h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #002366;
}

.system-name p {
  font-size: 14px;
  margin: 0;
  color: #111;
}
