.dut-pic {
  width: 100%;
  height: auto;
  max-height: 450px;
  object-fit: cover;
  display: block;
  z-index: 1;     
}

.cross-bar {
    display:flex;
    width:100%;
    height: 100px;
    background-color: #2C1966;
    margin-top: -20px;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    align-items: center; 
    justify-content: center;   
    position: relative;  /* tạo stacking context */
    z-index: 2;    
}
.cross-bar p{
    margin-top:-30px;
}
.total-record{
    position: relative;
    margin-top:-50px;
    z-index: 3;
}
.goal-record {
    text-align: right;
    font-size: 18px;
    margin-bottom: 20px;
    color: #F11313;
    margin-right: 15%;
}
.activity-joined-container{
    margin-left: 150px;
}
.activity-joined-title {
    margin-bottom: 15px;
    margin-top: 50px;
    font-size: 25px;
    color: black;
}
.custom-table-wrapper{
    margin: 0;
}
@media (max-width: 1200px) {
    .goal-record {
        font-size: 12px;
        margin-right: 10%;
    }
    .activity-joined-container{
        margin-left: 80px;
        margin-top: -20px;
    }
    .activity-joined-title{
        font-size: 20px;
    }
}
@media (max-width: 748px) {
    .goal-record {
        font-size: 14px;
        margin-right: 10%;
    }
    .activity-joined-container{
        margin-left: 60px;
        margin-top: -20px;
    }
}
@media (max-width: 400px) {
    .cross-bar {
        height: 50px;
        font-size: 12px;
    }
    .goal-record {
        font-size: 10px;
        margin-right: 10%;
    }
      .activity-joined-container{
        margin-left: 15px;
        margin-top: -20px;
    }
    .activity-joined-title{
        font-size: 15px;
    }
    .custom-table-wrapper{
        width: 95%;
    }
}
