footer {
  background-color: #2c1966;
  padding: 15px 10px;
  color: white;
  font-size: 12px;
  box-sizing: border-box;
}

.footer-container {
  display: grid;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr); /* mặc định 4 cột */
}

.footer-column {
  line-height: 1.4;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* 650–900px 3 cột */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    font-size: 13px;
  }

}

/* 400–600px 2 cột */
@media (max-width: 650px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
    gap:7px;
    font-size: 10px;
  }
}

/* <400px */
@media (max-width: 400px) {
  footer {
    font-size: 10px;
  }
  .footer-container {
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 200px) {
  footer {
    font-size: 8px;
    text-align: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 100px) {
  footer {
    font-size: 0.5vh;
    text-align: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}
