footer {
  background-color: #2C1966;
  padding: 15px 10px;
  color: white;
  font-size: 12px;
  box-sizing: border-box;
}

.footer-container {
  display: grid;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr); /* mặc định 4 cột */
}

.footer-column {
  line-height: 1.4;
}

.footer-column strong {
  font-weight: bold;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-column a:hover {
  text-decoration: underline;
}

/* 600–900px → 3 cột */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 400–600px → 2 cột */
@media (max-width: 600px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* <400px → 1 cột và căn giữa chữ */
@media (max-width: 400px) {
  footer {
    font-size: 11px;
    text-align: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 200px) {
  footer {
    font-size: 1vh;
    text-align: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 100px) {
  footer {
    font-size: 0.5vh;
    text-align: center;
  }
  .footer-container {
    grid-template-columns: 1fr;
  }
}

