.modal-login-overlay {
  position: fixed;
  inset: 0;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

/* ===== MODAL ===== */
.modal-login {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  width: 500px;
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}

/* ===== CLOSE BUTTON ===== */
.close-btn {
  position: absolute;
  top: 10px;
  right: 14px;
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
  color: red;
}

/* ===== TITLE ===== */
.modal-login-title {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

/* ===== CONTENT ===== */
.modal-login-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.modal-login-content .material-symbols-outlined {
  margin-top: 15px;
  font-size: 100px;
  width: 120px;
  color: #598dda;
}

/* ===== FORM ===== */
.login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== FORM GROUP ===== */
.form-login-group {
  margin-bottom: 14px;
}

.form-login-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

/* INPUT + SELECT */
.form-login-group input,
.form-login-group select {
  width: 100%;
  padding: 7px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* ===== BUTTON ===== */
.login-btn {
  align-self: flex-end;
  background: #2e3ecf;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 8px 18px;
  cursor: pointer;
  width: fit-content;
}

.login-btn:hover {
  background: #1f2ba0;
}

/* ===== ERROR ===== */
.error-msg {
  color: #dd4f4f;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 500;
}

/* ================= DARK MODE ================= */
body.dark-mode .modal-login {
  background-color: #4b4b4b;
  color: white;
}

body.dark-mode .modal-login-title {
  color: white;
}

body.dark-mode .form-login-group input,
body.dark-mode .form-login-group select {
  background-color: #3e4446;
  color: white;
  border-color: #666;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 600px) {
  .modal-login {
    width: 85%;
  }

  .modal-login-content {
    gap: 15px;
  }

  .login-btn {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .modal-login {
    width: 75%;
  }

  .modal-login-content .material-symbols-outlined {
    width: 60px;
    margin-top: 30px;
    font-size: 70px;
  }

  .modal-login-title {
    font-size: 17px;
  }

  .form-login-group label {
    font-size: 12px;
  }

  .login-btn {
    font-size: 12px;
  }
}
