.update-password-container {
  background: url("../../assets/images/password_pic.jpg") no-repeat center
    center fixed;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
