.update-password-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

body.dark-mode .update-password-container {
  background-color: #4b4b4b;
  color: #e5e7eb; /* text mặc định */
}
