.approved-evidence-background{
 background: url("../../assets/images/anhnen.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 40px 0;
  width: 100vw;
  min-height: 500px;
  margin-bottom: -150px;
}
.approved-evidence-customtable{
   display: flex;
    justify-content: center;
    margin: 20px auto;
}
@media (max-width:490px){
  .approved-evidence-background{
    min-height: 400px;
  }
}