.create-account-form {
  background: white;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid black;
  width: 500px;
  height: auto;
  max-width: 100%;
}

.form-title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  min-width: 120px;
  margin-bottom: 0;
  font-weight: 500;
  margin-right: 10px;
}

.form-group input,
.form-group select {
  flex: 1;
  width: auto;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  height: 38px;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 4px rgba(74, 144, 226, 0.4);
}

.submit-btn {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
}

.submit-btn button {
  background: #2e9b32;
  color: white;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: 0.3s;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-btn button:hover {
  background: #45a049;
}

.note {
  font-size: 13px;
  color: red;
}

.note ul {
  margin: 5px 0 0 10px;
  color: #333;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
}
